@model Dan3.Models.Nhasx

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminCP/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Nhasx</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nsx_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nsx_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dichi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dichi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.sdt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sdt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.nsx_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
