@model Dan3.Models.Orders

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Orders</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CreateBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PaymentStatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PaymentStatus)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSDT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSDT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OrderDetail.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderDetail.ID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
