@model Dan3.Models.Loaisp

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/AdminCP/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Loaisp</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.loai_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.loai_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.danhmucs.danhmuc_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danhmucs.danhmuc_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.loai_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
